/* Import base reset / preflight */
@import "tailwindcss/preflight";

/* Solo utilities */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3 {
  font-family: var(--font-playfair);
}